:root {
  --default-bg-1: linear-gradient(
    162.17deg,
    #057085 1.24%,
    #22545f 32.79%,
    #002129 98.63%
  );
  --default-bg-2: #22545f;
  --default-bg-3: white;
  --default-bg-4: #71a6b1;
  --default-bg-5: #e2a610;
  --default-text-1: #0e687a;
  --default-text-2: white;
  --default-text-3: black;
}

/* /////////////////////////////////////////////////// */
/*  ////////////////// Custom //////////////////*/
/* //////////////////////////////////////////////// */

/* Alert */
.myAlert-top {
  position: fixed;
  top: 5px;
  left: 2%;
  width: 96%;
  z-index: 9999;
}
/* Loader */
.spanner {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  display: block;
  text-align: center;
  height: 300px;
  color: #fff;
  transform: translateY(-50%);
  z-index: 1000;
  visibility: hidden;
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  z-index: 999;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #fff;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

.show {
  visibility: visible;
}

.spanner,
.overlay {
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.spanner.show,
.overlay.show {
  opacity: 1;
}

/* /////////////////////////////////////////////////// */
/*  ////////////////// home //////////////////*/
/* //////////////////////////////////////////////// */
.active_tab_dashboard {
  border-bottom: 2px solid #d1a94a;
}
.home_page_main_container {
  height: calc(100vh - 205px);
  overflow: auto;
}
.ongoing_card {
  background: var(--default-bg-3);
  color: var(--default-text-3);
  margin: 10px 0px 0px;
  height: 90px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding-top: 1px;
}
.ongoing_card .game_card_label {
  width: 90%;
}
.ongoing_card .game_card_play_btn {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 25%;
  right: 10px;
}
.ongoing_card .game_card_play_btn.open_game_button {
  animation: jump 2s linear infinite;
}
/*// KEYFRAMES //*/

@keyframes jump {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
.ongoing_card .game_card_play_btn.closed_game_btn {
  opacity: 0.4;
}
.ongoing_card h4 {
  margin-top: 5px;
  margin-bottom: 0;
}
.ongoing_card > div {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  background-color: rgba(196, 196, 196, 0.46);
  width: 100%;
  padding: 3px;
}
.ongoing_card > div small {
  font-weight: bold;
  font-size: 8px;
  font-family: "Roboto";
}
.ongoing_card.upcoming_card p {
  font-size: 8px;
  color: blue;
  margin-top: 4px;
}
.ongoing_card.upcoming_card p img {
  height: 10px;
}
.home_page_whatsApp {
  position: fixed;
  right: 30px;
  bottom: 30px;
  background-color: var(--default-bg-2);
  border-radius: 50%;
}
.home_page_whatsApp span {
  position: absolute;
  top: -10px;
  right: -10px;
  color: gray;
}
/* /////////////////////////////////////////////////// */
/*  ////////////////// withdrawal //////////////////*/
/* //////////////////////////////////////////////// */
.transaction_list_top_section {
  height: 123px;
  background: rgba(255, 255, 255, 0.69);
  margin-left: -13px;
  margin-right: -13px;
}
.transaction_list_top_section div {
  background: #9cd3de;
  border: 2.5px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  height: 73px;
  width: 199px;
  color: black;
  text-align: center;
}
.transaction_list_top_section div p {
  font-weight: 800;
  font-size: 14px;
  margin: 0;
}
.transaction_list_top_section div .money {
  font-weight: bold;
  font-size: 36px;
  margin: 0;
}
.transaction_main_container {
  background-color: var(--default-bg-3);
  color: var(--default-text-3);
  border-radius: 6px;
  margin-top: 20px;
}
.transaction_main_container h4 {
  background-color: var(--default-bg-4);
  color: var(--default-text-2);
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  padding: 8px;
  border-radius: 6px 6px 0px 0px;
}
.transaction_main_container .transaction_content_container {
  height: calc(100vh - 270px);
  overflow: auto;
}
.transaction_main_container .transaction_content_container .transaction_card {
  display: flex;
  justify-content: space-between;
  padding: 5px 5px 0px;
}
.transaction_card .transaction_avatar_div {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fe8900;
  margin-left: 8px;
  margin-top: 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.transaction_card .transaction_avatar_div.withdrawal_avatar {
  background-color: #ffb61b;
}
.transaction_card .transaction_avatar_div.deposite_avatar {
  background-color: #b261bf;
}
.transaction_card .transaction_avatar_div.winning_avatar {
  background-color: #0fd16b;
}
.transaction_card .transaction_avatar_div .avatar {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.transaction_card h6 {
  margin: 0;
  font-style: normal;
  font-weight: 700;
}
.transaction_card p {
  margin: 0;
  font-weight: bold;
}
/* /////////////////////////////////////////////////// */
/*  ////////////////// contact us //////////////////*/
/* //////////////////////////////////////////////// */
.contactus_banner h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 47px;
  margin: 0;
}
.contactus_main_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  height: calc(100vh - 280px);
  margin-top: -10px;
  margin-left: -13px;
  margin-right: -13px;
  background-color: var(--default-bg-3);
}
.contactus_main_container .sub_contact {
  border-radius: 6px;
  height: 250px;
  width: 75vw;
  background: rgba(113, 206, 224, 0.28);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.contactus_main_container .sub_contact h6 {
  color: var(--default-text-3);
}
/* /////////////////////////////////////////////////// */
/*  ////////////////// share //////////////////*/
/* //////////////////////////////////////////////// */
.share_main_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
  height: calc(100vh - 280px);
  margin-top: -10px;
  margin-left: -13px;
  margin-right: -13px;
  background-color: var(--default-bg-3);
  color: var(--default-text-3);
}
.share_main_container h5 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
}
.share_quote {
  margin-top: 20px;
  width: 261px;
  height: 55px;
  background: rgba(196, 196, 196, 0.24);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 90px;
  font-size: 12px;
  text-align: center;
  padding-top: 10px;
}
.share_main_container .refere_code_container {
  background: rgba(196, 196, 196, 0.57);
  border: 1px dashed #494343;
  box-sizing: border-box;
  width: 154px;
  height: 42px;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
}
/* /////////////////////////////////////////////////// */
/*  ////////////////// Game rate //////////////////*/
/* //////////////////////////////////////////////// */
.game_rate_main_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
  height: calc(100vh - 230px);
  margin-top: -10px;
  margin-left: -13px;
  margin-right: -13px;
  background-color: var(--default-bg-3);
  color: var(--default-text-3);
}
.game_rate_card {
  font-weight: 600;
  font-size: 14px;
  width: 95%;
  height: 42px;
  background: #e9c86f;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.46);
  border-radius: 6px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  padding-top: 16.5px;
  font-weight: bold;
}
/* /////////////////////////////////////////////////// */
/*  ////////////////// Game //////////////////*/
/* //////////////////////////////////////////////// */
.game_card {
  width: 100%;
  height: 83.16px;

  background: rgba(0, 0, 0, 0.69);
  border: 4px solid #b28529;
  box-sizing: border-box;
  border-radius: 9px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
/* //////////////////////////////////////////////////  */
/*  ////////////////// Bid        //////////////////  */
/* ////////////////////////////////////////////////  */
.bid_top_bar {
  display: flex;
  justify-content: space-between;
  background-color: var(--default-bg-3);
  color: var(--default-text-3);
  margin-left: -13px;
  margin-right: -13px;
  margin-top: -14px;
  height: 28px;
  padding: 3px;
}
.bid_open_close_btn {
  background-color: var(--default-bg-3);
  color: var(--default-text-3);
  font-weight: bold;
  font-size: 16px;
  padding: 8px 10px;
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  text-align: center;
  width: 120px;
}
/* Hide the browser's default radio button */
.bid_open_close_btn input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.bid_open_close_btn .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.bid_open_close_btn:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.bid_open_close_btn input:checked ~ .checkmark {
  background-color: var(--default-bg-5);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.bid_open_close_btn .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.bid_open_close_btn input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.bid_open_close_btn .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
.bid_input_box {
  background: rgba(255, 255, 255, 0.79);
  border-radius: 6px;
}
.bid_input_box input {
  outline: none;
  width: 120px;
  border: 1px solid #d1a94a;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 8px 24px;
}
.bid_input_box button {
  background: var(--default-bg-2);
  border: 1px solid #ffffff;
  border-radius: 10px;
  width: 90px;
  padding: 4px 0px;
  color: var(--default-text-2);
  font-weight: bold;
  filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.4));
}
.bid_list_table_container {
  background-color: var(--default-bg-3);
  border-radius: 6px;
  height: calc(100vh - 370px);
  overflow: auto;
  position: relative;
  padding-bottom: 30px;
}
.bid_play_btn {
  width: 192px;
  height: 40.87px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background: #d1a94a;
  border-radius: 9px;
  border: none;
}
.bid_play_btn:disabled,
.bid_play_btn[disabled] {
  width: 192px;
  height: 40.87px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(212, 198, 198);
  background: #c7bb9f;
  border-radius: 9px;
  border: none;
}
/* //////////////////////////////////////////////////  */
/*  ////////////////// Profile        //////////////////  */
/* ////////////////////////////////////////////////  */
.profile_Pic {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.profile_Pic .profile_img {
  width: 91px;
  height: 91px;
  border-radius: 50%;
  z-index: 1;
  border: 2px solid white;
  margin-top: 30px;
}

.formdata {
  background: #28b9d94f;
  width: 100%;
  margin: 20px auto;
  padding: 25px 25px 10px;
  border-radius: 10px;
}

.name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#fname,
#lname {
  width: 47%;
}

.formdata input {
  width: 100%;
  margin-bottom: 15px;
  padding: 7px;
  border-radius: 5px;
  outline: none;
  border: none;
}

.formdata small {
  display: inline-block;
  margin-bottom: 3px;
}

.btnWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btnWrapper button {
  padding: 10px 80px;
  background: skyblue;
  border: none;
  outline: none;
  margin: 10px 0;
  border-radius: 10px;
}

.accordion-item {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  border-radius: 5px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.09);
  cursor: pointer;
  background: #28b9d94f;
  margin-bottom: 0.5em;
  padding-top: 15px;
}
.item-header {
  display: flex;
  justify-content: space-between;
  column-gap: 0.2em;
}

.item-icon {
  flex: 0 0 25px;
  display: grid;
  place-items: center;
  font-size: 1.25rem;
  height: 25px;
  width: 25px;
  cursor: pointer;
}
.item-icon i {
  transition: all 0.25s cubic-bezier(0.5, 0, 0.1, 1);
}
.item-question {
  font-size: 1.3em;
  line-height: 28px;
  font-weight: bold;
}

.active .item-icon i {
  transform: rotate(180deg);
}

.item-content {
  max-height: 0;
  overflow: hidden;
  transition: all 300ms ease;
}
